.listItem {
  display: grid;
  text-align: center;
  vertical-align: center;
  grid-template-columns: 1fr 50px;
  grid-auto-rows: 50px;

}
.listItem > div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
}
.button {
  margin: 10px;
}
