.App {
  min-height: 100vh;
  display: grid;
  /*grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;*/
}
.AddMenu {
  grid-row: 1;
  grid-column: 1;
  border: 1px solid black;
}
.List {
  grid-row: 1;
  grid-column: 2;
  border: 1px solid black;
}